[submodule "assets/front/js/jquery-plugins"]
	path = assets/front/js/jquery-plugins
	url = https://github.com/presscustomizr/front-jquery-plugins.git
[submodule "grunt-tasks-config"]
  path = grunt-tasks-config
  url = https://github.com/presscustomizr/hueman-grunt-tasks.git