/* ------------------------------------------------------------------------- *
 *  Common Elements
/* ------------------------------------------------------------------------- */
/*  common : embedded element
/* ------------------------------------ */
iframe.wp-embedded-content{ max-width : 100%;width: 100%;}

/*  common : responsive videos
/* ------------------------------------ */
.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/*Gutenberg compatibility, see: https://github.com/presscustomizr/hueman/issues/698
and https://github.com/presscustomizr/hueman/issues/708
*/
.wp-embed-responsive .wp-block-embed[class*=wp-embed-aspect-] .video-container { position: static; padding: 0; height: 100%; }

/*  common : responsive image + caption
/* ------------------------------------ */
.image-container { position: relative; }
.image-container img { display: block; width: 100%; height: auto; }
.image-caption { background: rgba(0,0,0,0.7); color: #fff; font-size: 0.8125em; line-height: 1.3em; font-style: italic; padding: 8px 10px; position: absolute; bottom: 8px; left: 8px; margin-right: 8px;
-webkit-border-radius: 2px; border-radius: 2px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.03);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.03); }

/*  common : social links
/* ------------------------------------ */
.social-links { float: right; position: relative; padding-top: 2px; font-size: 1rem; line-height: 1.5rem;}
.social-links li { display: inline-block; margin-left: 8px; line-height: 1em; }
.social-links li a { display: block!important; position: relative; text-align: center; }
.social-links .social-tooltip { color: #fff; color: rgba(255,255,255,0.7); font-size: 1.5rem; display: inline; position: relative; z-index: 98; }
.social-links .social-tooltip:hover { color: #fff!important; text-decoration: none; }

/*  common : notebox
/* ------------------------------------ */
.notebox { background: #f0f0f0; position: relative; padding: 12px 15px; color: #888; margin-bottom: 30px; }
.notebox:before { content:''; display: inline-block; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #f1f1f1; position: absolute; top: -8px; left: 13px; }
.notebox:after { content:''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #f1f1f1; position: absolute; top: -5px; left: 15px; }
.notebox span { font-weight: 600; }
.notebox .search-again { margin-top: 10px; }
.notebox input[type="text"] { width: 100%; }

/*  common : page image
/* ------------------------------------ */
.page-image { overflow: hidden; position: relative; margin: 0 0 30px 0; }
.page-image-text { position: absolute; top: 50%; margin-top: -35px; width: 100%; text-align: center; }
.page-image-text .caption { color: #fff; font-size: 2.75em; line-height: 1.6em; text-transform: uppercase; font-weight: 600; text-shadow: 0 0 20px rgba(0,0,0,0.3); }
.page-image-text .description { display: block; color: #fff; font-size: 0.9375em; line-height: 36px; font-weight: 300; }
.page-image-text .description i { background: rgba(0,0,0,0.7); opacity: 0.9; font-style: normal; padding: 6px 10px; -webkit-border-radius: 2px; border-radius: 2px; }

/*  common : pagination
/* ------------------------------------ */
.pagination { margin-bottom: 15px; }
.pagination a { font-size: 1.125em; font-weight: 600; }

/*  common : thumb icon
/* ------------------------------------ */
.thumb-icon { background: rgba(0,0,0,0.7); color: #fff; text-align: center; display: block; width: 32px; height: 32px; position: absolute; bottom: 20px; left: 20px;
-webkit-border-radius: 6px; border-radius: 6px;
-moz-transition: all 0.7s ease; -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
-webkit-box-shadow: 0 0 2px rgba(255,255,255,0.4);
box-shadow: 0 0 2px rgba(255,255,255,0.4);
-webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
        transform: rotate(45deg); }
.thumb-icon i { font-size: 16px; padding: 8px 0; width: 17px;
-webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.thumb-icon .fa-play, .thumb-icon.small .f-play { margin: -1px 0 0 3px; }
.thumb-icon.small { width: 24px; height: 24px; position: absolute; bottom: 14px; left: 14px;
-webkit-border-radius: 4px; border-radius: 4px; }
.thumb-icon.small .fas, .thumb-icon.small .far { padding: 0 0 2px 2px; font-size: 12px; width: 13px; }

/*  common : nav
/* ------------------------------------ */
.nav-container { background: #888; z-index: 99; position: relative; }
.nav-toggle { display: none; background: #33363b; cursor: pointer; float: right; height: 50px; width: 60px; color: #fff; text-align: center; }
.nav-toggle i { font-size: 1.75rem; padding: 13px 0; }
.nav-text { display: none; position: absolute;right:52px;font-size: 1em; line-height: 1.5em; padding: 13px 20px; }
.nav li > a:after,
.nav > li > a:after { font-family: 'Font Awesome 5 Free'; font-weight: 900; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; }


/* NEW BUTTON */
.ham__navbar-toggler *:after, .ham__navbar-toggler *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ham-toggler-menu__span {
    background: transparent;
}

.ham__navbar-toggler {
    display: none;
    height: 50px;
    width: 60px;
    float: right;
    position: relative;
    text-align: center;
    z-index: 10001;
    border: none;
    background: none;
    margin: 0;
    vertical-align: middle;
    border-radius: 0;
    cursor: pointer;
    -webkit-transition: all 0.2s, 0.3s 0.2s;
    transition: all 0.2s, 0.3s 0.2s;
}

.ham__navbar-toggler .ham__navbar-span-wrapper {
    padding: 25px 20px;
    text-align: center;
    height: 100%;
    float: right;
}
.ham-toggler-menu__span {
    display: block;
    width: 20px;
    height: 1.5px;
    position: relative;
    top: 0;
    vertical-align: bottom;
    -webkit-transition: all ease 0.15s;
    transition: all ease 0.15s;

}
.collapsed .ham-toggler-menu__span {
    background: #fff;
}
.ham__navbar-toggler.collapsed .ham-toggler-menu__span:before {
    top: -.375rem;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
    background: #fff;
}
.ham__navbar-toggler .ham-toggler-menu__span:before {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background: #fff;
}
.ham__navbar-toggler.collapsed .ham-toggler-menu__span:after {
    top: .375rem;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
        background: #fff;
}
.ham__navbar-toggler .ham-toggler-menu__span:after {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
        background: #fff;
}
.ham-toggler-menu__span:before, .ham-toggler-menu__span:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    outline: .075rem solid transparent;
    left: 0;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-transition: all ease 0.35s;
    transition: all ease 0.35s;
}

/* END NEW BUTTON */




/* ANOTHER BUTTON */
.ham__navbar-toggler-two {
    display: none;
    height: 50px;
    width: 50px;
    float: right;
    position: relative;
    text-align: center;
    z-index: 10001;
    border: none;
    background: none;
    margin: 0;
    vertical-align: middle;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
/*    -webkit-transition: all 0.2s, 0.3s 0.2s;
    transition: all 0.2s, 0.3s 0.2s;*/
}
.ham__navbar-toggler-two .ham__navbar-span-wrapper {
    padding: 0 20px;
    height: 12px;
    margin: 19px 5px;
    position: relative;
    display: block;
}
.ham__navbar-toggler-two .line {
  display: block;
  background: #ffffff;
  width: 20px;
  height: 1.5px;
  position: absolute;
  left: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: all ease 0.35s;
  -moz-transition: all ease 0.35s;
  -o-transition: all ease 0.35s;
  transition: all ease 0.35s;
  backface-visibility: hidden;
}
#footer .ham__navbar-toggler-two .line { background: #444;}
.ham__navbar-toggler-two .line.line-1 {top: 0;}
.ham__navbar-toggler-two .line.line-2 {top: 50%;}
.ham__navbar-toggler-two .line.line-3 {top: 100%;}
/*.ham__navbar-toggler-two.hovering .line-1, .ham__navbar-toggler-two.focusing .line-1 {
   -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  transform: translateY(-1px);
}
.ham__navbar-toggler-two.hovering .line-3, .ham__navbar-toggler-two.focusing .line-3 {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  transform: translateY(1px);
}*/

.ham__navbar-toggler-two.hovering .line {
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  transform: translateX(-3px);
  width: 26px;
}

.ham__navbar-toggler-two.active .line-1 {
  -webkit-transform: translateY(6px) translateX(-3px) rotate(45deg);
  -moz-transform: translateY(6px) translateX(-3px) rotate(45deg);
  transform: translateY(6px) translateX(-3px) rotate(45deg);
  width: 28px;
}
.ham__navbar-toggler-two.active .line-2 {
  opacity: 0;
}
.ham__navbar-toggler-two.active .line-3 {
  -webkit-transform: translateY(-6px) translateX(-3px) rotate(-45deg);
  -moz-transform: translateY(-6px) translateX(-3px) rotate(-45deg);
  transform: translateY(-6px) translateX(-3px) rotate(-45deg);
  width: 28px;
}
.ham__navbar-toggler-two.hovering .line, .ham__navbar-toggler-two.focusing .line, .ham__navbar-toggler-two.active .line {
  background: #fff;
}
#footer .ham__navbar-toggler-two.hovering .line, #footer .ham__navbar-toggler-two.focusing .line, #footer .ham__navbar-toggler-two.active .line {
  background: #000;
}
/* END ANOTHER BUTTON */
.hu-dropdown-toggle-wrapper { display: none }





@media only screen and (min-width: 720px) {
  #header .nav-container .nav { display: block!important}
  .nav-wrap { height: auto!important; }
  /* common */
  .nav { font-size: 0em; position: relative; }
  .nav li a { color: #ccc; display: block; line-height: 1.25rem; }
  /* dropdown arrows */

/* June 2020 for https://github.com/presscustomizr/hueman/issues/905 */
  .hu-fa-not-loaded .nav li > a:after,
  .hu-fa-not-loaded .nav > li > a:after {
    content:"\00a0";
  }

  .hu-fa-not-loaded .fa:before, .hu-fa-not-loaded .far:before, .hu-fa-not-loaded .fas:before { content: "\00a0"}

  .nav li > a:after { content: "\f0da"; float: right; opacity: 0.5; }
  .nav > li > a:after {content: "\f0d7"; float: none; margin-left: 6px; font-size: 0.875em; line-height: 1.2em; }
  .nav li > a:only-child:after {content: ""; margin: 0; }
  #footer nav .nav { display: block !important; }
  #footer .nav li > a:after { content: "\f0da"; }
  #footer .nav > li > a:after { content: "\f0d8"; }
  #footer .nav li > a:only-child:after { content: ""; }
  /* level 1 */
  .nav > li { font-size: 1rem; border-right: 1px solid #999; display: inline-block; position: relative; }
  .nav > li > a { padding: 15px 14px; }
  .nav > li > a:hover,
  .nav > li:hover > a { background: #777; }
  .nav li > a:hover,
  .nav li:hover > a,
  .nav li.current_page_item > a,
  .nav li.current-menu-item > a,
  .nav li.current-menu-ancestor > a,
  .nav li.current-post-parent > a { color: #fff; }
  /* level 2 & 3 */
  .nav li:hover > ul { display: block; }
  .nav ul { display: none; background: #777; position: absolute; left: 0; top: 50px; width: 180px; padding: 10px 0; z-index: 2; -webkit-transform: translateZ(0);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.15);
  box-shadow: 0 2px 2px rgba(0,0,0,0.15); }
  .nav ul li { font-size: 0.875rem; position: relative; display: block; padding: 0; }
  .nav ul li a { padding: 10px 20px; }
  .nav ul li:last-child { border-bottom: 0!important; }
  /* level 3 */
  .nav ul ul { position: absolute; top: -10px; left: 180px; }

}





@media only screen and (max-width: 719px) {
  #header .nav-container .nav, #footer .nav-container .nav {display: none;}
  #footer .nav-container .nav.expanded, #header .nav-container .nav.expanded {display: block;}
  .nav { font-weight: 400; }
  .nav-container { text-transform: none; }
  .nav-toggle, .ham__navbar-toggler, .nav-text, .ham__navbar-toggler-two { display: block; }
  .nav-wrap { position: relative; float: left; width: 100%; overflow: hidden; }
  .nav-wrap.transition {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }
  .expand .nav-wrap { height: auto; }
  /* iphone fix */
  .safari .nav-wrap.transition { -webkit-transition: none; transition: none; }
  /* common */
  .nav { float: left; width: 100%; }
  .nav li a { line-height: 1.6em; display: block; padding: 8px 13px; }
  /*.nav li li a { padding-left: 15px; padding-right: 15px; }*/
  /* dropdown arrows */
  /* no arrows
  .nav li > a:after { content: '\f0d7'; opacity: 0; margin-left: 6px; font-size: 0.6rem; }
  .nav > li > a:after { content: '\f0d7'; font-size: 0.6rem; }
  .nav li > a:only-child:after { content: ''; }
  */

  /* level 1 */
  .nav > li { font-size: 0.9375em; }
  .nav li > a:hover,
  .nav li.current_page_item > a,
  .nav li.current-menu-item > a,
  .nav li.current-post-parent > a { color: #fff; }
  /* level 2 & 3 */
  .nav ul { display: block }

  /*.nav a { padding-left:25px;}*/
  .nav ul a { padding-left:37px;}
  .nav ul ul a { padding-left:65px;}
  .nav ul ul ul a { padding-left:90px;}
  .nav ul ul ul ul a { padding-left:115px;}
  .nav ul ul ul ul ul a { padding-left:140px;}
  .nav ul ul ul ul ul ul a { padding-left:165px;}
  .nav ul ul ul ul ul ul ul a { padding-left:190px;}

  .nav ul li { font-size: 0.85rem; font-weight: 300; }
  .nav ul li a { padding-top: 6px; padding-bottom: 6px; }









  /*
  * Mobile dropdown on click
  * colors are defined in 0_4_header.css and 9_0_footer.css
  */
  .submenu-click-expand.nav-wrap,
  .submenu-click-expand.nav-wrap li,
  .submenu-click-expand  ul { background: inherit; }

  .submenu-click-expand .sub-menu,
  .submenu-click-expand .nav li {
    position: relative;
  }

  .submenu-click-expand .page_item_has_children > a,
  .submenu-click-expand .menu-item-has-children  > a {
    padding-right: 44px;
  }
  .submenu-click-expand .nav li a {
    min-height: 37px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .submenu-click-expand .nav > li > a {
    min-height: 43px;
  }

  .hu-dropdown-toggle-wrapper {
    position: absolute;
    top: 1px;
    right: 0;
    text-align: center;
    line-height: 1;
    bottom: 1px;
  }

  .submenu-click-expand .hu-dropdown-toggle-wrapper {
    display: block;
  }

  .hu-dropdown-toggle {
    background: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
    height: 45px;
    width: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }

  li li .hu-dropdown-toggle {
    height: 39px;
  }

  .hu-dropdown-toggle i {
    display: block;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    font-size: 13px;
  }

  .submenu-click-expand .nav ul { display: none }
  .submenu-click-expand .nav ul.expanded { display: block; }
  li.expanded > .hu-dropdown-toggle-wrapper .fa-angle-down {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  /* \test */
}/*@media only screen and (max-width: 719px)*/