/* ------------------------------------------------------------------------- *
 *  Section: Header
/* ------------------------------------------------------------------------- */
#header { background: #33363b; position: relative; padding-bottom: 60px; }
#header .pad { padding-top: 30px; padding-bottom: 30px; }
#header .container-inner { position: relative; }
.mobile-title-logo-in-header { display: none;}

.site-title { font-size: 2.625em; font-weight: 600; letter-spacing: -0.5px; float: left; line-height: 1.4285em; padding: 10px 0; }
.site-title a { display: block; color: #fff; max-width: 100%; }
.site-title a img { display: block; max-width: 100%; max-height: 60px; height: auto; padding: 0; margin: 0 auto; -webkit-border-radius: 0; border-radius: 0; }
.site-description { font-size: 1em; font-style: italic; color: #fff; color: rgba(255,255,255,0.5); float: left; margin-left: 20px; line-height: 60px; padding: 10px 0; }
.site-image { display: block; margin: 0 auto; max-height: 400px; }

#header-widgets { float: right; }
/*#header-widgets h3 { display: none; }*/
#header-widgets img { display: block; }

/*  header : search
/* ------------------------------------ */
.toggle-search { color: #fff; font-size: 18px; line-height: 24px; cursor: pointer; padding: 13px 20px; display: block; position: absolute; right: 0; top: -50px;
-webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.1);
box-shadow: -1px 0 0 rgba(255,255,255,0.1); }
.toggle-search:hover,
.toggle-search.active { background: rgba(0,0,0,0.15); color: #fff; }
.search-expand { display: none; background: #26272b; position: absolute; top: 0; right: 0; width: 340px;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
box-shadow: 0 1px 0 rgba(255,255,255,0.1); }
.search-expand-inner { background: rgba(0,0,0,0.15); padding: 15px; }
.search-expand .themeform input { width: 100%; border: 2px solid #e2e2e2; border-radius: 0; }
.search-expand .themeform input:focus {  }



/*  header : nav topbar
/* ------------------------------------ */
#nav-topbar.nav-container { background: #26272b;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.15);
box-shadow: 0 0 5px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.15); }
#nav-topbar .nav-toggle { background: transparent; color: #fff;
-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,0.06);
box-shadow: inset 1px 0 0 rgba(255,255,255,0.06); }
#nav-topbar .nav-text { color: #fff; color: rgba(255,255,255,0.7); }

@media only screen and (min-width: 720px) {
  /* fixed nav */
  .full-width.topbar-enabled #header { padding-top: 50px; }
/*  .full-width #nav-topbar.nav-container { position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 999; max-height: 50px; overflow: hidden;}*/
  .full-width #nav-topbar.nav-container { position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 999;}
  .full-width.admin-bar #nav-topbar.nav-container { top: 32px;  }

  /* common */
  #nav-topbar .nav {  }
  #nav-topbar .nav li a { color: #fff; color: rgba(255,255,255,0.7); }
  /* level 1 */
  #nav-topbar .nav > li { border-right: none; }
  #nav-topbar .nav > li > a:hover,
  #nav-topbar .nav > li:hover > a { background-color: rgba(0,0,0,0.1); }
  #nav-topbar .nav li > a:hover,
  #nav-topbar .nav li:hover > a,
  #nav-topbar .nav li.current_page_item > a,
  #nav-topbar .nav li.current-menu-item > a,
  #nav-topbar .nav li.current-menu-ancestor > a,
  #nav-topbar .nav li.current-post-parent > a { color: #fff; }
  /* level 2 & 3 */
  #nav-topbar .nav ul { background: #26272b url(../img/opacity-10.png) repeat; }
  #nav-topbar .nav ul li { box-shadow: 0 1px 0 rgba(255,255,255,0.06); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.06); }
  #nav-topbar .nav ul li:last-child { box-shadow: none; -webkit-box-shadow: none; }

}
@media only screen and (max-width: 719px) {
  #header { z-index : 9999 }
  /* common */
  #nav-topbar .container { padding-left: 0; }
  #nav-topbar .nav li a { color: #fff; color: rgba(255,255,255,0.8); border-top: 1px solid rgba(255,255,255,0.06); }
  /* level 1 */
  #nav-topbar .nav li > a:hover { background: rgba(0,0,0,0.15); color: #fff; }
  #nav-topbar .nav li.current_page_item > a,
  #nav-topbar .nav li.current-menu-item > a,
  #nav-topbar .nav li.current-post-parent > a { background: rgba(0,0,0,0.15); color: #fff; }

}


/* NEW RULES FOR MOBILE MENUS BASED ON USER OPTIONS */
@media only screen and (max-width: 719px) {
   /* TITLE AND LOGO IN ACTIVE MOBILE MENU ( if not both menus are enabled for mobiles ) */
  #header .mobile-title-logo-in-header {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    width: 75vw;
    position: relative;
  }
  .both-menus-mobile-on .mobile-title-logo-in-header {display: none!important;}
  #header .mobile-title-logo-in-header .site-title {
    height: auto;
    width: auto;
    text-align: center;
    z-index: 3;
    overflow: hidden;
    left: 13px;
    position: absolute;
    max-width: 72vw;
    line-height: inherit;
    padding: 0;
  }
  #header .mobile-title-logo-in-header .site-title a img {
    max-height: 45px;
    max-width: 75%;
    margin: inherit;
  }
  #header .mobile-title-logo-in-header .site-title a {
    font-size: 0.6em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: inline-block;
  }
  .central-header-zone { display: none;}
  .both-menus-mobile-on .central-header-zone { display: block;}

  #nav-topbar { display: none;}
  .top-menu-mobile-on #nav-topbar { display: block;  }

  #nav-header { display: none; }
  .main-menu-mobile-on #nav-header {display: block; }

  .both-menus-mobile-on #nav-topbar, .both-menus-mobile-on #nav-header { display: block; }

  /* set nav-topbar to position fixed if both menu mobile are actived */
  /* adjust the header padding top */
  .top-menu-mobile-on #nav-topbar .toggle-search { display: none;}
}



/*  header : nav header
/* ------------------------------------ */
#nav-header.nav-container {
  background: #33363b;
  z-index: 97;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), 0 -1px 0 rgba(0,0,0,0.2), inset 1px 0 0 rgba(0,0,0,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), 0 -1px 0 rgba(0,0,0,0.2), inset 1px 0 0 rgba(0,0,0,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
}
#nav-header .container { padding: 0 15px; }
#nav-header .nav-toggle { background: transparent; color: #fff;
-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,0.05), -1px 0 0 rgba(0,0,0,0.2);
box-shadow: inset 1px 0 0 rgba(255,255,255,0.05), -1px 0 0 rgba(0,0,0,0.2); }
#nav-header .nav-text { color: #fff; color: rgba(255,255,255,0.7); }


/*  header : STICKY MENUS
/* ------------------------------------ */
.is-scrolled #nav-header.nav-container, .is-scrolled #nav-topbar.nav-container {
    background-color: rgba(51, 54, 59, 0.84);
}


@media only screen and (max-width: 719px) {
  .fixed-header-on .mobile-sticky {
    position: fixed;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
    -moz-transition: -moz-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
    -o-transition: -o-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
    transition: -webkit-transform 0.35s ease-in-out,-moz-transform 0.35s ease-in-out,-o-transform 0.35s ease-in-out,transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
  }
  .fixed-header-on .mobile-sticky.fast {
    -webkit-transition: -webkit-transform 0.10s ease-in-out,background-color 0.4s ease-in-out;
    -moz-transition: -moz-transform 0.10s ease-in-out,background-color 0.4s ease-in-out;
    -o-transition: -o-transform 0.10s ease-in-out,background-color 0.4s ease-in-out;
    transition: -webkit-transform 0.10s ease-in-out,-moz-transform 0.10s ease-in-out,-o-transform 0.10s ease-in-out,transform 0.10s ease-in-out,background-color 0.4s ease-in-out;
  }
}
@media only screen and (min-width: 720px) {
  .fixed-header-on .desktop-sticky {
    position: fixed;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
    -moz-transition: -moz-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
    -o-transition: -o-transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
    transition: -webkit-transform 0.35s ease-in-out,-moz-transform 0.35s ease-in-out,-o-transform 0.35s ease-in-out,transform 0.35s ease-in-out,background-color 0.4s ease-in-out;
  }
}



@media only screen and (min-width: 720px) {
  /* common */
  #nav-header .nav {  }
  #nav-header .nav li a { color: #fff; color: rgba(255,255,255,0.7); }
  /* level 1 */
  #nav-header .nav > li { border-right: none; }
  #nav-header .nav > li > a:hover,
  #nav-header .nav > li:hover > a { background: rgba(0,0,0,0.1); }
  #nav-header .nav li > a:hover,
  #nav-header .nav li:hover > a,
  #nav-header .nav li.current_page_item > a,
  #nav-header .nav li.current-menu-item > a,
  #nav-header .nav li.current-menu-ancestor > a,
  #nav-header .nav li.current-post-parent > a { color: #fff; }
  /* level 2 & 3 */
  #nav-header .nav ul { background: #33363b url(../img/opacity-10.png) repeat; }
  #nav-header .nav ul li { box-shadow: 0 1px 0 rgba(255,255,255,0.06); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.06); }
  #nav-header .nav ul li:last-child { box-shadow: none; -webkit-box-shadow: none; }

}
@media only screen and (max-width: 719px) {

  /* common */
  #nav-header.nav-container  { border-left: 0; border-right: 0; }
  #nav-header .container { padding: 0; }
  #nav-header .nav { padding-bottom: 20px; }
  #nav-header .nav li a { color: #fff; color: rgba(255,255,255,0.8); border-top: 1px solid rgba(255,255,255,0.06); }
  /* level 1 */
  #nav-header .nav li > a:hover { background: rgba(0,0,0,0.15); color: #fff; }
  #nav-header .nav li.current_page_item > a,
  #nav-header .nav li.current-menu-item > a,
  #nav-header .nav li.current-post-parent > a { text-decoration: underline; color: #fff; }

}