/* ------------------------------------------------------------------------- *
 *  Widgets
/* ------------------------------------------------------------------------- */
/* Placeholder */

.hu-placeholder-widget {
  background: white;
  padding: 7%;
  text-align: center;
  border: 3px dotted #efb93f;
  font-size: 0.875em;
}
.hu-placeholder-widget .zone-name {
  font-size: 1.1875em;
}


.widget { color: #777; font-size: 0.9375em; overflow: hidden; }
.widget a { color: #777; }
.widget a:hover { color: #444; }
.widget > h3 { font-size: 0.9375em; font-weight: 400; text-transform: uppercase; margin-bottom: 6px; }
.widget > h3 a,
.widget > h3 a:hover { color: #444; }
.widget > h3 a img { display: none; float: left; margin: 3px 7px 0 0; }
.widget select { border: 1px solid #ddd; color: #777; font-size: 0.9375em; padding: 7px; width: 100%; max-width: 100%; }
#footer .widget select { border-color: #eee; }

.sidebar .widget { padding: 30px 30px 20px; }
#footer .widget { padding-bottom: 30px; }
#footer .widget a:hover { color: #666; }

/*  widgets : icons
/* ------------------------------------ */
.widget > ul li:before,
.widget > ul li a:before,
.widget div > ul li a:before,
.widget_calendar caption:before {font-family: 'Font Awesome 5 Free'; font-weight: 900; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-style: normal;	font-variant: normal; text-rendering: auto;	font-size: 12px; margin-right: 6px;	color: #ccc; display: inline-block!important; width: 1em; text-align: center;}

.widget > ul li a:hover:before { color: #999; }

.widget_calendar caption:before,
.widget_archive ul > li a:before { content: "\f073"; position:relative; top:-.1em; }
.widget_categories ul > li a:before { content: "\f07c"; }
.widget_links ul > li a:before { content: "\f35d"; }
.widget_meta ul > li a:before { content: "\f0da"; }
.widget_recent_comments ul > li:before { content: "\f075"; }
.widget_recent_entries ul > li a:before { content: "\f017"; }

.widget_pages ul li a:before,
.widget_nav_menu ul li a:before { content: "\f068"; }


/* June 2020 for https://github.com/presscustomizr/hueman/issues/905 */
.hu-fa-not-loaded .widget_calendar caption:before,
.hu-fa-not-loaded .widget_archive > ul > li a:before { content: "";}
.hu-fa-not-loaded .widget_categories > ul > li a:before { content: ""; }
.hu-fa-not-loaded .widget_links > ul > li a:before { content: ""; }
.hu-fa-not-loaded .widget_meta > ul > li a:before { content: ""; }
.hu-fa-not-loaded .widget_recent_comments > ul > li:before { content: ""; }
.hu-fa-not-loaded .widget_recent_entries > ul > li a:before { content: ""; }
.hu-fa-not-loaded .widget_pages ul li a:before,
.hu-fa-not-loaded .widget_nav_menu ul li a:before { content: ""; }

/*  widgets : common
/* ------------------------------------ */
.widget_search > h3,
.widget_text > h3,
.widget_tag_cloud > h3,
.widget_calendar > h3 { margin-bottom: 1em; }

.widget_archive ul li,
.widget_categories ul li,
.widget_links ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.widget_pages ul li a,
.widget_nav_menu ul li a,
.alx-tab li,
.alx-posts li { padding: 10px 0; border-bottom: 1px solid #e4e4e4; }

#footer .widget_archive ul li,
#footer .widget_categories ul li,
#footer .widget_links ul li,
#footer .widget_meta ul li,
#footer .widget_recent_comments ul li,
#footer .widget_recent_entries ul li,
#footer .widget_rss ul li,
#footer .widget_pages ul li a,
#footer .widget_nav_menu ul li a,
#footer .alx-tab li,
#footer .alx-posts li,
#footer .widget_calendar th,
#footer .widget_calendar td { border-color: #f2f2f2; }

.widget_archive ul li,
.widget_categories ul li,
.widget_links ul li { color: #bbb; }

.widget_recent_comments ul li,
.widget_recent_entries ul li { color: #999; }
.widget_recent_entries .post-date { display: block; }

/*  widget : categories
/* ------------------------------------ */
.widget_categories ul.children { padding-left: 15px; }
.rtl .widget_categories ul.children { padding-right: 15px; }

.widget_categories ul.children > li {
  border-bottom: none;
}

/*  widget : pages / custom menu
/* ------------------------------------ */
.widget_pages ul li a,
.widget_nav_menu ul li a { display: block; }
.widget_pages li li a,
.widget_nav_menu li li a { padding-left: 15px; }
.widget_pages li li li a,
.widget_nav_menu li li li a { padding-left: 30px; }
.widget_pages ul ul,
.widget_pages ul ul ul,
.widget_nav_menu ul ul,
.widget_nav_menu  ul ul ul { border: 0; }

/*  widget : rss
/* ------------------------------------ */
.widget_rss ul li a { display: block; }
.widget_rss ul li span.rss-date { color: #444; font-weight: 600; display: block; text-transform: uppercase; font-size: 0.75em; }
.widget_rss ul li cite { color: #999; }

.sidebar.s1 .widget_rss ul li a,
#footer .widget_rss ul li a { color: #16cfc1; }
.sidebar.s2 .widget_rss ul li a { color: #efb93f; }

/*  widget : search
/* ------------------------------------ */
.widget_search input.search { color: #999; padding-left: 26px; width: 100%; }
.widget_search #searchsubmit { display: none; }

/*  widget : text
/* ------------------------------------ */
.widget_text .textwidget p { margin-bottom: 1em; }

/*  widget : calendar
/* ------------------------------------ */
.widget_calendar a { font-weight: 600; }
.widget_calendar a:hover { color: #444!important; }
.widget_calendar #wp-calendar { width: 100%; }
.widget_calendar caption { color: #fff; padding: 5px 10px; }
.widget_calendar caption:before { color: #fff; color: rgba(255,255,255,0.7); font-size: 15px; }
.widget_calendar thead { background: #e2e2e2; -webkit-box-shadow: 0 1px 0 #ddd; box-shadow: inset 0 -1px 0 #ddd; }
#footer .widget_calendar thead { background: #f2f2f2; }
.widget_calendar th { font-weight: 600; }
.widget_calendar th,
.widget_calendar td { padding: 3px 0; text-align: center; border: 1px solid #e2e2e2; }
.widget_calendar .hu-pad { padding: 0!important; }

.sidebar.s1 .widget_calendar a,
#footer .widget_calendar a { color: #16cfc1; }
.sidebar.s1 .widget_calendar caption,
#footer .widget_calendar caption{ background: #16cfc1; }
.sidebar.s2 .widget_calendar a { color: #efb93f; }
.sidebar.s2 .widget_calendar caption { background: #efb93f; }

/*  custom widget : alxtabs / alxposts
/* ------------------------------------ */
.alx-tabs-nav { border-bottom: 3px solid #ddd; margin-bottom: 10px; text-align: center; }
.alx-tabs-nav.tab-count-1 li { width: 100%; }
.alx-tabs-nav.tab-count-2 li { width: 50%; }
.alx-tabs-nav.tab-count-3 li { width: 33.333%; }
.alx-tabs-nav.tab-count-4 li { width: 25%; }
.alx-tabs-nav li { display: block; float: left; }
.alx-tabs-nav li a { font-size: 1.125em; display: block; padding: 8px 0; margin-bottom: -3px; border-bottom: 3px solid transparent; }
.alx-tabs-nav li a:hover { border-bottom-color: #ccc; }
.alx-tabs-nav li.active a,
#footer .alx-tabs-nav li.active a { color: #444; /* background: linear-gradient(to bottom, rgba(255,255,255,0.0) 0%, #fff 100%) 0 0 rgba(0,0,0, 0); */ }
.alx-tabs-nav li a span { display: none; }
#footer .alx-tabs-nav { border-bottom-color: #eee; }
#footer .alx-tabs-nav li a:hover { border-bottom-color: #ddd; }

.sidebar.s1 .alx-tabs-nav li.active a,
#footer .alx-tabs-nav li.active a { border-bottom-color: #16cfc1; }
.sidebar.s2 .alx-tabs-nav li.active a { border-bottom-color: #efb93f; }

.alx-tab li,
.alx-posts li { font-weight: 400; line-height: 1.4em; overflow: hidden; }
.alx-tab a,
.alx-posts a { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease; }
.alx-tab img,
.alx-posts img { display: block; width: 100%; height: auto; }
.alx-tab.thumbs-enabled li{ padding-left: 94px; }
.alx-tab .tab-item-thumbnail {
  width: 80px;
  height: 80px;
  margin-left: -94px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* align horizontal */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.alx-tab .tab-item-thumbnail,
.alx-posts .post-item-thumbnail { position: relative; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.alx-tab.avatars-enabled li{ padding-left: 62px; }
.alx-tab .tab-item-avatar { margin-left: -62px; width: 48px; float: left; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.alx-tab .tab-item-category,
.alx-posts .post-item-category { color: #aaa; text-transform: uppercase; font-size: 0.8125em; }
.alx-tab .tab-item-title a,
.alx-tab .tab-item-comment a,
.alx-posts .post-item-title a { color: #444; }
.alx-tab .tab-item-category a:hover,
.alx-posts .post-item-category a:hover { color: #444!important; }
.alx-tab .tab-item-title,
.alx-tab .tab-item-comment,
.alx-posts .post-item-title { margin: 2px 0; -ms-word-wrap: break-word; word-wrap: break-word; }
.alx-tab .tab-item-date,
.alx-tab .tab-item-name,
.alx-posts .post-item-date  { text-transform: uppercase; color: #aaa; font-size: 0.8125em; }
.alx-tab .thumb-icon.small { bottom: 8px; left: 8px; }
.alx-tab li:hover .tab-item-thumbnail,
.alx-tab li:hover .tab-item-avatar,
.alx-posts li:hover .post-item-thumbnail { opacity: 0.75; }
.alx-tab li:hover .thumb-icon,
.alx-posts li:hover .thumb-icon { background: #fff; color: #111; }

.sidebar.s1 .alx-tab .tab-item-category a,
.sidebar.s1 .alx-posts .post-item-category a,
.sidebar.s1 .alx-tab li:hover .tab-item-title a,
.sidebar.s1 .alx-tab li:hover .tab-item-comment a,
.sidebar.s1 .alx-posts li:hover .post-item-title a,
#footer .alx-tab .tab-item-category a,
#footer .alx-posts .post-item-category a,
#footer .alx-tab li:hover .tab-item-title a,
#footer .alx-tab li:hover .tab-item-comment a,
#footer .alx-posts li:hover .post-item-title a { color: #16cfc1; }
.sidebar.s2 .alx-tab .tab-item-category a,
.sidebar.s2 .alx-posts .post-item-category a,
.sidebar.s2 .alx-tab li:hover .tab-item-title a,
.sidebar.s2 .alx-tab li:hover .tab-item-comment a,
.sidebar.s2 .alx-posts li:hover .post-item-title a { color: #efb93f; }

.alx-posts .post-item-thumbnail { margin-bottom: 10px; }
.alx-posts .post-item-title { font-size: 1em; line-height: 1.5em; }

.sidebar.s1 .alx-posts .post-item-title,
#footer .alx-posts .post-item-title { font-size: 1.125em; line-height: 1.4em; font-weight: 300; }
.sidebar.s1 .alx-posts .post-item-category,
.sidebar.s1 .alx-posts .post-item-date,
#footer .alx-posts .post-item-category,
#footer .alx-posts .post-item-date { font-size: 0.875em; }

/*  custom widget : alxvideo
/* ------------------------------------ */
.widget_hu_video h3 { margin-bottom: 14px; }