/* ------------------------------------------------------------------------- *
 *  SVG thumbnails placeholders
/* ------------------------------------------------------------------------- */
svg.hu-svg-placeholder {
  fill: none;
  stroke: #eee;
  stroke-width:50px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  top: 25%;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.alx-posts li:hover .hu-svg-placeholder, .alx-tab li:hover .hu-svg-placeholder, .post-hover:hover .hu-svg-placeholder {
    opacity: 0!important;
}
.filter-placeholder {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.filter-placeholder::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  background: rgba(34, 34, 34, 0.55);
}