/* ------------------------------------------------------------------------- *
 *  Section: Footer
/* ------------------------------------------------------------------------- */
#footer { background: #fff; color: #777; width: 100%; position: relative; }
#footer a { color: #777; }
#footer a:hover { color: #ccc; }
#footer .hu-pad { padding-bottom: 30px; }

#footer-full-width-widget { text-align: center; padding: 10px 0; border-bottom: 1px solid #eee; }

/*#footer #footer-full-width-widget .widget { padding-bottom: 0; font-size: 0; line-height: 0; }
#footer-full-width-widget h3 { display: none; }*/

#footer-widgets{
  padding-top: 20px;
}
[class*=footer-widget-] {
  min-height: 1px;
}

#footer-bottom { background: #33363b; }
#footer-bottom .hu-pad { padding-top: 30px; }
#footer-bottom a { color: #fff; color: rgba(255,255,255,0.7); }
#footer-bottom a:hover { color: #fff; }
#footer-bottom #footer-logo { display: block; margin-bottom: 20px; max-height: 50px; -webkit-border-radius: 0; border-radius: 0; }
#footer-bottom #copyright,
#footer-bottom #credit { color: #fff; color: rgba(255,255,255,0.5); font-size: 0.9375em; line-height: 1.5em; }
#footer-bottom #credit p { font-size: 0.88em; padding-top: 0.5em;}
#footer-bottom #back-to-top { background: #eaeaea; color: #777; overflow: hidden; text-align: center; width: 60px; height: 30px; display: block; margin: 0 auto; margin: 0 auto -30px;
-webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;
-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(0,0,0,0.05); }
#footer-bottom #back-to-top i {
  font-size: 32px;/* font size in px to fix https://github.com/presscustomizr/hueman/issues/758 */
  position: relative;
  top: -2px;
}
#footer-bottom #back-to-top:hover { color: #444; }
#footer-bottom .social-links { padding-top: 10px; }
#footer-bottom .social-links a { color: rgba(255,255,255,0.6); }
#footer-bottom .social-links a:hover { color: #fff; }
#footer-bottom .social-links .social-tooltip { font-size: 1.75rem; }

/*  footer : nav
/* ------------------------------------ */
#nav-footer.nav-container { background: #fff; border-top: 1px solid #eee; }
#nav-footer .nav-toggle { background: transparent; color: #444; border-left: 1px solid #eee; }

/* Welcome Note
/* ------------------------------------ */
#bottom-welcome-note {
    bottom: -100%;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px 0;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 10000;
    color: #fff;
    display: block;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all, 0.45s ease-in-out;
    -ms-transition: all, 0.45s ease-in-out;
    -o-transition: all, 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
#bottom-welcome-note h2 {
  font-size: 1.5em;
  line-height: 1.6em;
  color: #fff;
  margin-bottom: 15px;
}
#bottom-welcome-note a {
  color: #fff;
  text-decoration: underline;
}
#bottom-welcome-note p { line-height: 2em;}
#bottom-welcome-note .note-content {
  display: inline-block;
  line-height: 20px;
  width: 80%;
}
#bottom-welcome-note .fas:before {
  top: 2px;
  position: relative;
  padding-left: 2px;
}
#bottom-welcome-note .close-note {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 31px;
    cursor: pointer;
}


@media only screen and (min-width: 720px) {

  /* common */
  #nav-footer .nav { text-align: center; }
  #nav-footer .nav li a { color: #33363b; }
  /* level 1 */
  #nav-footer .nav > li > a { padding: 12px 18px; }
  #nav-footer .nav > li { border-right: 0; }
  #nav-footer .nav > li:first-child { border-left: 0; }
  #nav-footer .nav > li > a:hover,
  #nav-footer .nav > li:hover > a { background: #f0f0f0; }
  #nav-footer .nav li > a:hover,
  #nav-footer .nav li:hover > a,
  #nav-footer .nav li.current_page_item > a,
  #nav-footer .nav li.current-menu-item > a,
  #nav-footer .nav li.current-menu-ancestor > a,
  #nav-footer .nav li.current-post-parent > a { color: #666; }
  /* level 2 & 3 */
  #nav-footer .nav ul { background: #f0f0f0; bottom: 44px; top: auto; text-align: left;
  -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,0.05);
  box-shadow: 0 -2px 2px rgba(0,0,0,0.05); }
  #nav-footer .nav ul li { border-bottom: 1px solid #e4e4e4; }
  #nav-footer .nav ul ul { top: -10px; }
  /* level 3 */
  #nav-footer .nav ul ul { position: absolute; top: auto; bottom: -10px; }

}
@media only screen and (max-width: 719px) {

  /* common */
  #nav-footer .nav li a { color: #999; color: rgba(0,0,0,0.8); border-top: 1px solid #f2f2f2; }
  #nav-footer .hu-dropdown-toggle { color: #999; color: rgba(0,0,0,0.8); }
  /* level 1 */
  #nav-footer .nav li > a:hover,
  #nav-footer .nav li.current_page_item > a,
  #nav-footer .nav li.current-menu-item > a,
  #nav-footer .nav li.current-post-parent > a { background: #f2f2f2; color: #444; }

  #nav-footer .hu-dropdown-toggle:hover,
  #nav-footer .nav li.current_page_item > .hu-dropdown-toggle,
  #nav-footer .nav li.current-menu-item > .hu-dropdown-toggle,
  #nav-footer .nav li.current-post-parent > .hu-dropdown-toggle { color: #444;  }
}