#wrapper,
.container-inner { min-width: 320px; }

@media only screen and (max-width: 1200px) {
	#header-widgets { display: none; }
}

/* ------------------------------------------------------------------------- *
 *  Toggle Sidebar s2 : 1200px > 480px
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 1200px) {

	.container { padding: 0 10px; }

	/* s2 general */
  .s2.collapsed {
    width: 50px;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
  }

	/*.s2 .sidebar-content { display: none; float: left; width: 100%; }*/
  .s2.collapsed .sidebar-content { opacity:0; display:none; float: left; width: 100%; }
	.sidebar.s2 .sidebar-toggle { display: block; }

	/* s2 expand/collapse */
	.s2.expanded {
    background: #f0f0f0;
    /*position: absolute;
    top: 0;
    bottom: 0;
    width: 260px; <= Set in js
    margin: 0!important;*/
    z-index: 9;
/*    overflow-y: auto;
    overflow-x: hidden;*/
  }
  .s2.expanded .sidebar-content { opacity:1; min-width: 260px; }
  .s2.collapsed .sidebar-content { opacity:0;}


	/* s2 toggle icon */
  .sidebar[data-position="right"].expanded .sidebar-toggle-arrows:before,
  .sidebar[data-position="middle-right"].expanded .sidebar-toggle-arrows:before {
    content: "\f101";
  }
  .sidebar[data-position="left"].expanded .sidebar-toggle-arrows:before,
  .sidebar[data-position="middle-left"].expanded .sidebar-toggle-arrows:before {
    content: "\f100";
  }

	/* s2 3 column, content middle */
    .col-3cm .container-inner > .main::after,
	.col-3cm .main-inner { padding-right: 50px; }
	/*.col-3cm .s2 { margin-right: -50px; }*/
  .col-3cm .s2.collapsed { margin-right: -50px;}
	/*.col-3cm.s2-expand .s2 { right: 0; }*/
/*  .col-3cm .s2.expanded { right: 0; }*/

	/* ipad, iphone fix */
	/*.safari .s2 { min-width: 50px; max-width: 50px; width: auto; }*/
	/*.safari.s2-expand .s2 { min-width: 260px; max-width: 260px; width: auto; }*/

}
@media only screen and (min-width: 961px) and (max-width: 1200px) {

	/* 3 column, content right */
	.col-3cl .main { background-image: none; }
    .col-3cl .container-inner > .main::after,
	.col-3cl .main-inner { padding-right: 390px; }
	.col-3cl .s1.collapsed { margin-right: -390px; }
	.col-3cl .s2.collapsed { margin-right: -50px;}
  /*.col-3cl .s2.expanded { right: 340px; }*/

	/* 3 column, content left */
	.col-3cr .main { background-image: none; }
    .col-3cr .container-inner > .main::before,
	.col-3cr .main-inner { padding-left: 390px; }
	.col-3cr .s1.collapsed { margin-left: -390px; }
	.col-3cr .s2.collapsed { margin-left: -50px; }
  .col-3cr .s2.expanded { }
}

/* ------------------------------------------------------------------------- *
 *  Toggle Sidebar s1 : 960px > 480px
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 960px) {

	/* s1 general */
	.s1.collapsed {
    width: 50px;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    /*position: absolute;*/
  }
	.s1.collapsed .sidebar-content { opacity:0; display:none; float: left; width: 100%; }
	.sidebar.s1 .sidebar-toggle { display: block; }

  .s1.expanded {
    background: #f0f0f0;
   /* position: absolute;
    top: 0;
    bottom: 0;
    width: 340px; <= Set in js
    margin: 0!important;*/
    z-index: 9;
/*    overflow-y: auto;
    overflow-x: hidden;*/
  }
  .s1.expanded .sidebar-content,
  .s1.expanded .post-nav { opacity:1;min-width: 340px; }

  /* icon color is dark because the background is usually lighter in this case */
  .social-links .social-tooltip:hover {
    color: #000!important;
  }


	/* 2 column, content right */
	.col-2cr .container-inner > .main::before,
	.col-2cr .main-inner { padding-left: 50px; }
  .col-2cr .s1.collapsed { left: 0;margin-left: -50px; }
  .col-2cr .s1.expanded { left: 0;}


	/* 2 column, content left */
	.col-2cl .container-inner > .main::after,
	.col-2cl .main-inner { padding-right: 50px; }
  /*.col-2cl .s1.collapsed { margin-right: 0px; right: 0;  }*/
  .col-2cl .s1.collapsed { margin-right: -50px; right: 0;  }
  .col-2cl .s1.expanded { right: 0; }
  .col-2cl .s1.expanded .sidebar-toggle { float: right; }

	/* 3 column, content middle */
    .col-3cm .container-inner > .main::before,
	.col-3cm .main-inner { padding-left: 50px; }
  .col-3cm .s1.collapsed { margin-left: -50px;}
  .col-3cm .s1.expanded { left: 0; }
  .col-3cm .s2.collapsed { margin-right: -50px;}
  /*.col-3cm .s2.expanded { right: 0;}*/


	/* 3 column, content left */
	.col-3cl .main { background-image: none; }
    .col-3cl .container-inner > .main::after,
	.col-3cl .main-inner { padding-right: 100px; }
  .col-3cl .s1.collapsed { margin-right: -100px;}
  .col-3cl .s2.collapsed { margin-right: -50px;}
  .col-3cl .s1.expanded {  margin-right: -390px; }
  /*.col-3cl .s1.expanded { right : 0px; }*/

/*  .sidebar[data-position="middle-right"].expanding { margin-left: -210px; margin-right: 0}
  .sidebar[data-position="middle-right"].collapsing { }*/

	/* 3 column, content right */
	.col-3cr .main { background-image: none; }
    .col-3cr .container-inner > .main::before,
	.col-3cr .main-inner { padding-left: 100px; }
  .col-3cr .s1.collapsed { margin-left: -100px;}
	.col-3cr .s2.collapsed { margin-left: -50px; }
  .col-3cr .s1.expanded  { margin-left: -390px;}
  .col-3cr .s2.expanded { }

	/* ipad, iphone fix */
	/*.safari .s1 { min-width: 50px; max-width: 50px; width: auto; }
	.safari.s1-expand .s1 { min-width: 340px; max-width: 340px; width: auto; }*/

}

/* ------------------------------------------------------------------------- *
 *  Mobile (Mid Res) : 719px > 0px (480px & 320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 719px) {

	/* layout */
	.container { padding: 0; }
	.grid { width: 100%; margin: 0 0 10px; }

	/* sidebar toggle 60 > 50px height */
	.page-title.hu-pad { padding-top: 12px; padding-bottom: 12px; }
	.sidebar-toggle { height: 50px; }
	.sidebar-toggle i { padding: 10px 0; }

	/* hide */
	.site-description,
	.image-caption { display: none; }

	/* base */
	.hu-pad { padding: 20px 20px 10px; }
	.notebox { margin-bottom: 20px; }
	#flexslider-featured { margin-top: 10px; }
	.entry { font-size: 0.9375em; }

	/* text */
	.entry h1 { font-size: 1.875em; letter-spacing: -0.7px; }
	.entry h2 { font-size: 1.625em; letter-spacing: -0.5px; }
	.entry h3 { font-size: 1.5em; letter-spacing: -0.3px; }
	.entry h4 { font-size: 1.375em; letter-spacing: -0.3px; }
	.entry h5 { font-size: 1.125em; }
	.entry h6 { font-size: 1em; text-transform: uppercase; }

	/* header */
	#header { padding-bottom: 0; }
	.topbar-enabled #header { padding-top: 0; }
	#header .hu-pad { padding-top: 0; padding-bottom: 0; }
	.site-title { padding: 30px 0; width: 100%; float: none; line-height: 1.19em; font-size: 2.2em; }
	.site-title a { text-align: center; }
	.toggle-search { right: auto; left: 0; top: 0;
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.1);
	box-shadow: 1px 0 0 rgba(255,255,255,0.1); }
	.search-expand { left: 0; right: auto; top: 50px; width: 320px; }

	/* footer */
	#footer-bottom .hu-pad { padding-top: 50px; padding-bottom: 40px; }
	#footer-bottom .one-half.last { margin-bottom: 0; }
	#footer-bottom { text-align: center; }
	#footer-bottom #footer-logo { margin-left: auto; margin-right: auto; }
	#footer-bottom .social-links { float: none; }
	#footer-bottom .social-links li { margin-left: 4px; margin-right: 4px; }

	/* comments */
	.comment-tabs { font-size: 0.875em; }
  .commentlist li { font-size: 0.8125rem; }
	.commentlist li ul li { padding-left: 10px; }

	/* page */
	#page { margin-top: 0; padding-bottom: 10px; }
	.pagination { margin-bottom: 30px; }
	.page-title { font-size: 0.875em; }
	.page-image-text { margin-top: -15px; }
	.page-image-text .caption { font-size: 1.625em; line-height: 1.1538em;  }
	.page-image-text .description { font-size: 0.8125em; }

	/* blog */
	.post-list { margin-left: 0; margin-right: 0;  }
	.post-list .post,
	.post-list .page	{ width: 100%; }
	.post-list .post-row { margin-left: 0; padding-left: 0; margin-bottom: 0; border: 0; }
	.post-list .post-inner { margin-right: 0; }
	#grid-wrapper .post-standard.excerpt .post-inner { padding-left: 120px; }
	#grid-wrapper .post-standard.excerpt .post-thumbnail { margin-left: -120px; max-width: 100px; }

	.featured .post-title,
	.single .post-title { font-size: 1.375em; line-height: 1.5em; letter-spacing: 0; }
	.post-byline { font-size: 0.8125em; }
	.post-format { margin-bottom: 20px; }
	.format-gallery .post-format .flexslider .slides img { max-height: 240px; }
	.format-quote .post-format blockquote,
	.format-link .post-format p { font-size: 1.125em; }
	.format-link .post-format p { margin-bottom: 10px; }
	.single .format-status .entry { font-size: 1.25em; line-height: 1.4em; }
	.post-format .format-container .fa { font-size: 1.75em; }

	.entry.share { padding-right: 0; }
	.sharrre-container { position: relative; float: left; width: auto; padding: 0; margin: 20px 0 0; }
	.sharrre-container span { text-align: left; }
	.sharrre-container > div { float: left; margin-right: 10px; }
	.author-bio .bio-desc { font-size: 0.8125em; }

	.content .post-nav li { width: 100%; -webkit-box-shadow: none!important; box-shadow: none!important; }
	.content .post-nav li a { min-height: 0; }

	.single .related-posts .post-title { font-size: 0.9375em; }
	.related-posts li { width: 50%; }
	.related-posts li:nth-child(2) article { border-right-color: transparent; }
	.related-posts li:nth-child(3),
	.related-posts li:nth-child(4) { display: none; }

	/* shortcodes */
	.dropcap { font-size: 5em; }

}

/* ------------------------------------------------------------------------- *
 *  Mobile (Low Res) : 479px > 0 (320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* layout */
	.content,
	.sidebar[class*=s] { width: 100%; float: none; margin-right: 0!important; margin-left: 0!important; }
	.sidebar[class*=s] { background: #f0f0f0; display: block; float: none; }
	.main,
	.main-inner { background-image: none!important; padding: 0!important;  }
	.sidebar.s2 { right: 0!important; left: 0!important; }
	.container-inner > .main::before,
	.container-inner > .main::after { display: none; }
	/* hide */
	.mobile-sidebar-hide-s1 .sidebar.s1,
	.mobile-sidebar-hide-s2 .s2,
	.mobile-sidebar-hide .sidebar { display: none; }

	/* display primay sidebar first */
	.mobile-primary-sidebar-first .main-inner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	/* This is exactly (vendors prefix excluded) how Bootstrap 4 handles .order-first */
	.mobile-primary-sidebar-first .s1 {
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		    -ms-flex-order: -1;
		        order: -1;
	}
	/* base */
	.hu-pad { padding: 15px 15px 5px; }
	.sidebar-top,
	.sidebar .widget { padding-left: 15px!important; padding-right: 15px!important; }
	.notebox { margin-bottom: 15px; }
	#flexslider-featured { margin-top: 15px; }
	.gallery-caption { display: none; }

	/* header */
	.site-title { font-size: 2em; }

	/* blog */
	#grid-wrapper .post-standard.excerpt .post-inner { padding-left: 82px; }
	#grid-wrapper .post-standard.excerpt .post-thumbnail { margin-left: -82px; max-width: 72px; }
	.format-link .post-format p { margin-bottom: 5px; }

  /* Don't display the sharre bar */
  /*.sharrre-container { display: none;}*/

}
