/* OVERRIDE WP CUSTOMIZER */

/* SEKTIONS AND BLOCKS */
.czr-column {
  width: 99%;
  margin-bottom: 1%;
  float: left;
  padding: 2% 0%;
  border: 2px dotted #aaa;
  text-align: center;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.add-new-module {
  margin-top: 1%;
}
.czr-static-module-wrapper {
  width: 100%;
  float: left;
}
.czr-single-module {
  width: 100%;
  float: left;
  min-height: 20px;
}

.czr-single-module textarea {
  max-width: 100%;
}

.czr-single-module .czr-inner-view .czr-view-content {
  display: block;
}

#customize-theme-controls .czr-single-module .czr-inner-view {
  border: 1px solid #d27e00;
  width: 96%;
}



/* DRAGULA */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 999999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* CUSTOM FOR DRAGULA */
.czr-dragula-fake-container {
  display: none;
  float: left;
  height: 60px;
  width: 96%;
  margin: 2%;
  border: 2px dotted #aaa;
  text-align: center;
  line-height: 30px;
}
.czr-show-fake-container .czr-dragula-fake-container {
  display: block;
}