/* OVERRIDE WP CUSTOMIZER */

/* SEKTIONS AND BLOCKS */
.czr-column {
  width: 99%;
  margin-bottom: 1%;
  float: left;
  padding: 2% 0%;
  border: 2px dotted #aaa;
  text-align: center;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.add-new-module {
  margin-top: 1%;
}



/* MODULES */
.czr-module-collection-wrapper {
  width: 100%;
  float: left;
}
.czr-single-module {
    width: 98%;
    float: left;
    min-height: 20px;
    margin: 1px 1%;
    border: 1px solid #ccc;
}

.czr-single-module textarea {
  max-width: 100%;
}

.czr-single-module .czr-inner-view .czr-view-content {
  display: block;
}

#customize-theme-controls .czr-single-module .czr-inner-view {
  width: 96%;
}

.czr-mod-header {
  background: #eee;
  float: left;
  width: 100%;
}

.czr-mod-title > h4 {
  float: left;
  width: 70%;
  margin: 2% 0;
}

.czr-mod-buttons {
  float: right;
  width: 30%;
  margin: 2% 0;
}

.czr-mod-content {
  position: absolute;
  top: 0;
  left: 100%;
  float: left;
  width: 100%;
  margin-top: 1%;
  background: #d5e9cc;
  display: none;
}



/* EDIT MODULE */
.czr-module-open #customize-info,
.czr-module-open #customize-theme-controls {
  left: -200%;
}
.czr-module-open #customize-theme-controls .accordion-section-content {
    overflow: visible;
}
.czr-module-description-container {
  margin-bottom: 15px
}
.czr-module-title {
  margin: -12px -12px 0 -12px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.czr-module-title h3 {
  padding: 10px 10px 12px 14px;
  margin: 0;
  line-height: 21px;
  color: #555;
  font-size: 20px;
  font-weight: 200;
  line-height: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.czr-module-back {
    display: block;
    float: left;
    width: 48px;
    height: 71px;
    padding: 0 24px 0 0;
    margin: 0;
    background: #fff;
    border: none;
    border-right: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-transition: left .18s ease-in-out, color .1s ease-in-out, background .1s ease-in-out;
    transition: left .18s ease-in-out, color .1s ease-in-out, background .1s ease-in-out;
}

.czr-module-back:hover,
.czr-module-back:focus {
  color: #23282d;
  background: #f5f5f5;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.czr-module-back:before {
  font: normal 20px/72px dashicons;
  content: "\f341";
  position: relative;
  left: 13px;
}


.czr-module-back:hover {
    color: #23282d;
    background: #f5f5f5;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}





/* DRAGULA */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 999999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* CUSTOM FOR DRAGULA */
.czr-dragula-fake-container {
  display: none;
  float: left;
  height: 60px;
  width: 96%;
  margin: 2%;
  border: 2px dotted #aaa;
  text-align: center;
  line-height: 30px;
}
.czr-show-fake-container .czr-dragula-fake-container {
  display: block;
}