/* OVERRIDE WP CUSTOMIZER */

/* LAYOUT */
.wp-customizer .wp-full-overlay.expanded {
  margin-left: 440px;
}
.wp-customizer .wp-full-overlay-sidebar {
  width: 440px;
}
.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-left: -440px;
}
.in-sub-panel #customize-info,
.in-sub-panel #customize-theme-controls > ul > .accordion-section {
  left: -440px;
  width: 440px;
}
#customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
  left: -440px;
}
.accordion-sub-container.control-panel-content {
  left: 440px;
}


/* RTL*/
.rtl.wp-customizer .wp-full-overlay.expanded {
  margin-right: 440px;
  margin-left: 0;
}
.rtl.wp-customizer .wp-full-overlay-sidebar {
  width: 440px;
}
.rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-right: -440px;
  margin-left: 0;
}
.rtl .in-sub-panel #customize-info,
.rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
  right: -440px;
  width: 440px;
}
.rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
  right: -440px;
}
.rtl .accordion-sub-container.control-panel-content {
  right: 440px;
}


@media screen and (max-width: 1400px) {
  .wp-customizer .wp-full-overlay.expanded {
    margin-left: 380px;
  }
  .wp-customizer .wp-full-overlay-sidebar {
    width: 380px;
  }
  .wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -380px;
  }
  .in-sub-panel #customize-info,
  .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    left: -380px;
    width: 380px;
  }
  #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    left: -380px;
  }
  .accordion-sub-container.control-panel-content {
    left: 380px;
  }

  /* RTL */
  .rtl.wp-customizer .wp-full-overlay.expanded {
    margin-right: 380px;
    margin-left: 0;
  }
  .rtl.wp-customizer .wp-full-overlay-sidebar {
    width: 380px;
  }
  .rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-right: -380px;
    margin-left: 0;
  }
  .rtl .in-sub-panel #customize-info,
  .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    right: -380px;
    width: 380px;
  }
  .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    right: -380px;
  }
  .rtl .accordion-sub-container.control-panel-content {
    right: 380px;
  }
}

@media screen and (max-width: 979px) {
  .wp-customizer .wp-full-overlay.expanded {
    margin-left: 300px;
  }
  .wp-customizer .wp-full-overlay-sidebar {
    width: 300px;
  }
  .wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -300px;
  }
  .in-sub-panel #customize-info,
  .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    left: -300px;
    width: 300px;
  }
  #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    left: -300px;
  }
  .accordion-sub-container.control-panel-content {
    left: 300px;
  }

  /* RTL */
  .rtl.wp-customizer .wp-full-overlay.expanded {
    margin-right: 300px;
    margin-left: 0;
  }
  .rtl.wp-customizer .wp-full-overlay-sidebar {
    width: 300px;
  }
  .rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-right: -300px;
    margin-left: 0;
  }
  .rtl .in-sub-panel #customize-info,
  .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    right: -300px;
    width: 300px;
  }
  .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    right: -300px;
  }
  .rtl .accordion-sub-container.control-panel-content {
    right: 300px;
  }
}

/* at max-width 640px the wp-full-overlay-sidebar becomes 100% */
 @media screen and (max-width: 640px) {
   .wp-customizer .wp-full-overlay.expanded {
     margin-left: 0;
   }

   .in-sub-panel #customize-info,
   .in-sub-panel #customize-theme-controls > ul > .accordion-section {
     left: -100%;
     width: 100%;
   }

   #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
     left: -100%;
   }
   .accordion-sub-container.control-panel-content {
     left: 100%;
   }

   /* RTL */
   .rtl.wp-customizer .wp-full-overlay.expanded {
     margin-right: 0;
   }

   .rtl .in-sub-panel #customize-info,
   .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
     right: -100%;
     width: 100%;
     left: auto;
   }
   .rtl .in-sub-panel #czr-donate-customizer,
   .rtl .in-sub-panel .czr-cta-wrap,
   .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
     right: -100%;
     left: auto;
   }
   .rtl .accordion-sub-container.control-panel-content {
     right: 100%;
   }
 }


/* PANELS AND SECTIONS TITLES */

.wp-customizer .control-section.control-panel .accordion-section-title .panel-title {
  font-size: 24px;
  font-weight: inherit;
  line-height: 30px;
}

.wp-core-ui h3 {
	color: #555;
}
.accordion-section-content {
	padding: 10px 10px 15px 20px;
}
.widget-action, .handlediv, .item-edit, .sidebar-name-arrow, .accordion-section-title:after {
	color: #00a0d2;
}
.control-section.control-panel > .accordion-section-title:after {
	color: #00a0d2;
}
.customize-control-title {
	line-height: 19px;
}

/* since v4.3 */
.wp-customizer #customize-theme-controls .accordion-section-content {
  background: #fff;
}
.wp-customizer .customize-panel-back {
  height: 60px;
}
.wp-customizer #customize-controls .customize-info .customize-help-toggle:hover, .wp-customizer #customize-controls .customize-info.open .customize-help-toggle, .wp-customizer #customize-controls .customize-info .customize-help-toggle:focus {
  color:#00a0d2;
}
.wp-customizer .customize-screen-options-toggle:focus:before, .wp-customizer #customize-controls .customize-info .customize-help-toggle:focus:before {
  -webkit-box-shadow: 0 0 0 1px #00a0d2;
  box-shadow: 0 0 0 1px #00a0d2;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.wp-customizer .menu-item-handle:hover .item-type, .wp-customizer .menu-item-handle:hover .item-edit, .wp-customizer #available-menu-items .menu-item-handle:hover .item-add, .wp-customizer .menu-item-handle:hover{
  color: #00a0d2;
}

.customize-screen-options-toggle:hover, .customize-screen-options-toggle:active, .customize-screen-options-toggle:focus, .active-menu-screen-options .customize-screen-options-toggle, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:hover, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:active, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:focus {
  color: #00a0d2!important;
}

.customize-control input[type="text"] {
  line-height: 23px;
}


/* GENERAL STYLE */
.control-section .accordion-section-content {
	overflow-y: auto;
}
li[id*="customize-control-"] {
	margin: 8px 0;
}

.control-section .accordion-section-title {
	padding: 6px 20px!important;
}
.control-section .accordion-section-title:after {
	top: 7px;
}
.control-section.control-panel .accordion-section-title:after {
	top: 7px;
	-webkit-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-ms-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-o-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	transition: right .3s ease-in-out, opacity .3s ease-in-out;
	right: 10px;
	opacity:0.7;
}
.rtl .control-section.control-panel .accordion-section-title:after {
	-webkit-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-ms-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-o-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	transition: left .3s ease-in-out, opacity .3s ease-in-out;
	left: 10px;
	right: initial;
}
#customize-theme-controls .control-section.control-panel h3.accordion-section-title:hover:after ,  #customize-theme-controls .control-section.control-panel h3.accordion-section-title:focus:after {
	right: 8px;
	opacity:1;
	color: #666!important;
}

.rtl #customize-theme-controls .control-section.control-panel h3.accordion-section-title:hover:after , .rtl #customize-theme-controls .control-section.control-panel h3.accordion-section-title:focus:after {
  left: 6px;
  right: initial;
}
/* Overrides WP built in style : hack for nested section arrow */
#customize-theme-controls .control-section.control-panel>h3.accordion-section-title:focus:after, #customize-theme-controls .control-section.control-panel>h3.accordion-section-title:hover:after, .control-section.control-panel>.accordion-section-title:after {
	background: none!important;
	border: none!important;
}

#customize-theme-controls h3.accordion-section-title {
	font-family: "Open Sans", sans-serif;
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

#customize-theme-controls > .control-section:hover .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:hover::after, #customize-theme-controls .control-section.open .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:focus::after {
	color: #FFF;
}
.customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
	line-height: 16px;
  margin-left: 0;
}

/* Placeholders Styling for inputs */
input::-webkit-input-placeholder {
   color:#9A9A9A;
   font-style: italic;
}
input:-moz-placeholder { /* Firefox 18- */
   color: #9A9A9A;
   font-style: italic;
}
input::-moz-placeholder {  /* Firefox 19+ */
   color: #9A9A9A;
   font-style: italic;
}
input:-ms-input-placeholder {
   color: #9A9A9A;
   font-style: italic;
}


.czr-customizr-title {
	/* color: #555; */
	text-transform: uppercase;
	/* text-shadow: 0 1px 0 #FFF; */
	margin: 1em 0em 5px 0em;
	font-size: 15px!important;
	border-bottom: 1px dotted #00a0d2;
	padding-bottom: 5px;
  text-align: center;
}
h3.czr-customizr-title::before {
  content: '\00b7';
  padding-right: 3px;
}
h3.czr-customizr-title::after {
  content: '\00b7';
  padding-left: 3px;
}
.czr-after-button {
	border-color: white;
	margin-top:15px;
}
.czr-emphasize {
	line-height: 1.2em;
	color: #2E2E2E;
}
i.czr-notice {
	display: block;
	clear: both;
}
span.czr-notice {
	color: #313131;
	font-size:12px;
	font-style: italic;
	clear: both;
	display: block;
	line-height: 18px;
}
.czr-customizer-separator-invisible {
	border:none;
	margin-top:15px;
}
.czr-skin-gen-label {
	float: left;
}
.czr-skin-gen-color-picker {
	float: right;
}
.czr-number-label {
	float: left;
}
.czr-number-input {
	float: right;
}
.czr-check-label {
	float: left;
	max-width: 85%;
}
/* RTL position fix */
.rtl .czr-check-label {
	float: right;
}
input[type=checkbox], input[type=radio] {
	float: right;
	min-height: 18px;
}
.czr-font-select {
	float: left;
}

/* CUSTOM CSS TEXT AREA */
li#customize-control-tc_theme_options-tc_custom_css textarea {
	font-size: 14px;
	background: #394143;
	color: #E2E728;
	min-height: 300px;
}













.customize-control .czr-navigate-to-post-list {
  color: #00a0d2;
  font-weight: bold;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 8px;
}

.czr-sub-control {
  padding-left: 13%;
  max-width: 87%;
  position: relative;
}

.czr-sub-control:before {
  content: '';
  height: 116%;
  background: #00a0d2;
  width: 2%;
  position: absolute;
  left: 7%;
}

/* Cropped Image style */
/* Unified with the default cropped_image CSS */
.customize-control-tc_cropped_image .upload-button {
  float: right;
}
.customize-control-tc_cropped_image .remove-button {
  float: left;
  margin-right: 3px;
}
.customize-control-tc_cropped_image .actions {
  margin-bottom: 32px;
}
.customize-control-tc_cropped_image .current {
  margin-bottom: 8px;
}
.customize-control-tc_cropped_image .upload-button,
.customize-control-tc_cropped_image .remove-button {
  white-space: normal;
  width: 48%;
  height: auto;
}

.customize-control-tc_cropped_image .current .container {
  min-height: 40px;
  overflow: hidden;
  border: 1px solid #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.customize-control-tc_cropped_image img {
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.customize-control-tc_cropped_image .inner {
  line-height: 20px;
  top: 10px;
}
/* rtl */
/* end tc cropped image */
.rtl .customize-control-tc_cropped_image .upload-button {
  float: left;
}
.rtl .customize-control-tc_cropped_image .remove-button {
  float: right;
  margin-left: 3px;
}





/* LAYOUT SELECTION SPECIFICS */
.czr-layout-img {
  height: 26px;
  padding-top: 2px;
  border: 1px solid #FFF;
}
.czr-layout-title {
  padding: 0 0px 18px 12px;
  display: inline-block;
  line-height: 0px;
  vertical-align: middle;
}



/* MULTI INPUT */
.customize-control-czr_multi_input {
    width: 96%;
    border: 1px solid #ccc;
    padding: 2%;
}
.czr-multi-input-wrapper {
  width: 95%;
  padding: 0px 0% 0 5%;
}
.czr-multi-input-wrapper [data-input-type="color"] .czr-input {
  float: left;
  clear: both;
}



/* WIDGET PANEL MARGIN */
#customize-theme-controls #accordion-panel-nav_menus, #customize-theme-controls #accordion-panel-czr-footer-panel {
  border-bottom: 1px solid #ddd;
}
#customize-theme-controls .control-panel-widgets, #customize-theme-controls #accordion-panel-nav_menus{
  margin-top: 14px;
  border-bottom: 1px solid #ddd;
}