/*******************************************************************
* DYNAMIC CONTROLS : sidebars, socials, ...
********************************************************************/
.czr-open-pre-add-new {
  display: block;
  float: left;
  margin: 2% 2% 0%;
  width: 99%;
  padding: 2%;
  background: #3b8dbd;
  opacity: 1;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 }

.czr-open-pre-add-new.active {
  background: #646464;
  opacity: 0.5;
  border-radius: 3px 3px 0 0;
}

.czr-single-item {
  padding: 0%;
  border: 1px solid #ccc;
  margin: 2% 0 0 2%;
  float: left;
  width: 98%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#customize-theme-controls .czr-single-item.open {
  border: 1px solid #00a0d2;
}

.czr-single-item .czr-item-header, .czr-single-item .czr-item-content {
  padding: 1%;
}

.czr-items-wrapper .czr-single-item .czr-builtin-model {
  background: #E1DFDF;
  color: #555
}

.czr-items-wrapper .inactive {
  opacity: 0.6;
}

.czr-item-sort-handle {
  cursor: move;
}

.czr-single-item .czr-item-header {
  position: relative;
  background: #dfdfdf;
  color: white;
  float: left;
  width: 98%;
    -webkit-transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -ms-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}


/* sidebar specifics */
.czr_widget_areas_module .czr-single-item .czr-custom-model {
  background: #3b8dbd;
}
. .czr-single-item .czr-custom-model:hover {
  background: #aaa;
}
.czr-single-item .czr-item-header:hover {
  background: #ccc;
}

/* sidebar specifics */
/*.czr-builtin-model .czr-single-item .czr-item-header {
  background:#3b8dbd;
}*/
.czr-items-wrapper .czr-single-item .czr-builtin-model:hover {
  background: #ccc;
}

.czr-move-icon {
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 10px;
  color: #999;
}
.czr-item-title {
  float: left;
  font-size: 17px;
  color: #000;
  padding: 7px;
  width: 67%;
}

.czr-inactive-alert {
  font-size: 12px;
  font-style: italic;
}
/* sidebar specifics */
.czr_widget_areas_module .czr-item-title {
  color: #fff;
}


.czr-builtin-model .czr-item-title {
  color: #23282d;
}
.czr-item-title h4 {
  margin: 0;
}
.czr-item-title .fa:before {
  padding-right: 2px;
}
.czr-item-btns {
  float: right;
}
.czr-item-btns a {
  font-size: 17px;
  padding: 7px 5px;
  color: #777;
  -webkit-transition: color .1s ease-in-out;
  -moz-transition: color .1s ease-in-out;
  -ms-transition: color .1s ease-in-out;
  -o-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}
.czr-item-btns a:active, .czr-item-btns a:focus {
  outline: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* sidebar specifics */
.czr_widget_areas_module .czr-item-btns a {
  color: #fff;
}

.czr-builtin-model .czr-item-btns a {
  color: #555
}

.czr-builtin-model .czr-item-btns .czr-edit-view:hover, .czr-builtin-model .czr-item-btns .czr-edit-view.active {
  color: #00a0d2;
}

.czr-item-btns .czr-edit-view:hover, .czr-item-btns .czr-edit-view.active {
  color: #00a0d2;
}

/* sidebar specifics */
.czr_widget_areas_module .czr-edit-view:hover, .czr_widget_areas_module .czr-item-btns .czr-edit-view.active {
  color: #000000;
}
.czr_widget_areas_module .czr-builtin-model .czr-edit-view:hover, .czr_widget_areas_module .czr-builtin-model .czr-edit-view.active {
  color: #00a0d2;
}

.czr-item-btns .czr-display-alert:hover, .czr-item-btns .czr-display-alert.active {
  color: #23282d;
}


.czr-single-item .czr-item-content {
  display: none;
  clear: both;
  width: 96%;
  padding: 2%;
}
.czr-single-item .czr-item-content input {
  margin-bottom: 0;
}
.czr-sub-set {
  margin-bottom: 0;
  display: block;
  float: left;
  width: 100%;
  padding: 1% 0;
  position: relative;
}

.czr-sub-set .czr-input {
  float: right;
  width: 60%;
}
.width-100 .czr-input {
  width: 100%;
}
.czr-sub-set .customize-control-title {
  float: left;
  width: 40%;
  padding: 1px 0;
  font-size: 13px;
}

.czr-item-title .fa {
  font-size: 18px;
}

/* Remove alert block */
.czr-remove-alert-wrapper {
  display: none;
  clear: both;
  float: left;
  color: #F00;
  padding: 2%;
  width: 95%;
  margin-top: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #EEE;
  border: 1px solid #F00;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.czr-remove-alert-wrapper p {
  padding: 5px;
  margin: 0px;
}

/* pre add dialog */
.czr-pre-add-wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.czr-adding-new .czr-items-wrapper {
  opacity: 0.6;
}

.czr-pre-add-view-content {
  display: none;
  padding: 3%;
  border: 1px solid #00a0d2;
  border-top: none;
  margin: 0 0 0 2%;
  float: left;
  width: 92%;
  background: #eee;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.czr-model-added .czr-pre-add-view-content {
  opacity: 0.2;
}

.czr-pre-add-wrapper .czr-add-new {
  background: #3b8dbd;
  color: #fff;
  -webkit-transition: background .5s linear;
  -moz-transition: background .5s linear;
  -ms-transition: background .5s linear;
  -o-transition: background .5s linear;
  transition: background .5s linear;
  float: right;
  border: none;
}

.czr-add-success {
  width: 100%;
  margin: 0 0 0 2%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}
.czr-model-added .czr-add-success {
  opacity: 1;
}

.czr-add-success p {
  vertical-align: middle;
  display: inline-block;
  line-height: 35px;
  margin: 0;
  font-size: 25px;
  color: #82b965;
  padding: 0 3%;
}


/* WIDGETS ZONE SPECIFICS */
.czr-widget-zone-section {
  margin: 10px 0;
}
#customize-theme-controls .czr-widget-zone-section .accordion-section-content {
  display: none;
  left: 0;
  position: relative;
}

.czr-zone-infos {
  width: 96%;
  padding: 0 2%;
  font-size: 12px;
  float: left;
  font-style: italic;
}

#customize-theme-controls .czr-widget-zone-section .accordion-section-title:after {
  content: "\f078";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#customize-theme-controls .czr-widget-zone-section.open .accordion-section-title:after {
  content: "\f077";
}
.czr-unavailable-location {
  opacity: 0.7;
}
.czr-location-alert {
  float: left;
  width: 100%;
  padding: 1% 0;
  margin: 1% 0;
  text-align: center;
  border: 1px solid orange;
  background: #FEE5B6;
  color: #000;
  font-size: 11px;
  font-style: italic;
}