/* HEADER AND SCOPE SWITCHER */
.wp-customizer .wp-full-overlay-sidebar .wp-full-overlay-header {
  height: 85px;
}
.wp-customizer .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
  top: 85px;
}
.customize-controls-close {
  border-bottom: 1px solid #ddd;
}




.czr-scope-switcher {
  width: 100%;
  float: right;
  position: relative;
}
.czr-scope-switcher .button {
  float: left;
  width: 40%;
  text-align: center;
  margin: 0 2%;
  opacity: 0.7;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.czr-scope-switcher .button.active {
  font-weight: bold;
  opacity: 1;
}
.czr-scope-switcher .active {
  opacity: 1;
}
.czr-scope {
    float: left;
    width: 30%;
    margin-left: 2%;
    background: #fafafa;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0.6;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.czr-scope-header, .czr-scope-content, .czr-scope-footer {
    width: 100%;
    clear: both;
}
.czr-scope-content h4 {
    margin: 0;
    line-height: normal;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
}
.czr-scope .fa {
    font-size: 10px;
    padding: 2%;
    color: #999;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.czr-scope .czr-scope-footer .info {
  cursor: inherit;
}
.czr-scope-header .czr-scope-switch {
    font-size: 15px;
    padding: 0 2px 0 0;
}

.czr-pull-left {
  float: left;
}
.czr-pull-right {
  float: right;
}

/* DIALOG BOX REACTIONS */
.active .czr-scope-switch {
  color: #82b965;
  cursor:inherit;
}
.czr-scope .czr-scope-dirty {
  opacity: 0;
  color: #FFBD2E;
}
.dirty .czr-scope-dirty {
  opacity: 1;
}

.czr-scope .czr-scope-reset {
  opacity: 0;
  color: #82b965;
}
.has_db_val .czr-scope-reset {
  opacity: 1;
}