
.in-sub-panel #czr-donate-customizer,
 .in-sub-panel .czr-cta-wrap {
   left: -450px;
   height: 0;
 }


.rtl .in-sub-panel #czr-donate-customizer,
 .rtl .in-sub-panel .czr-cta-wrap {
   right: -450px;
 }


@media screen and (max-width: 1400px) {

  .in-sub-panel #czr-donate-customizer,
  .in-sub-panel .czr-cta-wrap {
    left: -380px;
  }

  .rtl .in-sub-panel #czr-donate-customizer,
  .rtl .in-sub-panel .czr-cta-wrap {
    right: -380px;
  }
}




@media screen and (max-width: 979px) {


  .in-sub-panel #czr-donate-customizer,
  .in-sub-panel .czr-cta-wrap {
    left: -300px;
  }

  .rtl .in-sub-panel #czr-donate-customizer,
  .rtl .in-sub-panel .czr-cta-wrap {
    right: -300px;
  }
}

/* at max-width 640px the wp-full-overlay-sidebar becomes 100% */
 @media screen and (max-width: 640px) {
   .in-sub-panel .czr-cta-wrap,
   .in-sub-panel #czr-donate-customizer {
     left: -100%;
   }

   .rtl .in-sub-panel #czr-donate-customizer,
   .rtl .in-sub-panel .czr-cta-wrap {
     right: -100%;
     left: auto;
   }
 }



/* Rate link */
#customize-footer-actions .collapse-sidebar-label {
  display: none;
}
.czr-rate-link {
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 0;
  padding: 4px 12px 4px 0;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
}
.rtl .tc-rate-link {
   text-align: left;
   left: auto;
   right: 40px;
   padding: 4px 0 4px 12px;
}
.wp-full-overlay.collapsed .czr-rate-link {
  display: none;
}
.czr-rate-link .czr-stars {
  color: #E6B800;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
}
