/* ------------------------------------------------------------------------- *
 *  Section: Footer
/* ------------------------------------------------------------------------- */
#footer { background: #fff; color: #777; width: 100%; }
#footer a { color: #777; }
#footer a:hover { color: #ccc; }
#footer .pad { padding-bottom: 30px; }

#footer-full-width-widget { text-align: center; padding: 10px 0; border-bottom: 1px solid #eee; }

/*#footer #footer-full-width-widget .widget { padding-bottom: 0; font-size: 0; line-height: 0; }
#footer-full-width-widget h3 { display: none; }*/

#footer-widgets{
  padding-top: 20px;
}
[class*=footer-widget-] {
  min-height: 1px;
}

#footer-bottom { background: #33363b; }
#footer-bottom .pad { padding-top: 30px; }
#footer-bottom a { color: #fff; color: rgba(255,255,255,0.7); }
#footer-bottom a:hover { color: #fff; }
#footer-bottom #footer-logo { display: block; margin-bottom: 20px; max-height: 50px; -webkit-border-radius: 0; border-radius: 0; }
#footer-bottom #copyright,
#footer-bottom #credit { color: #fff; color: rgba(255,255,255,0.5); font-size: 15px; line-height: 1.5em; }
#footer-bottom #back-to-top { background: #eaeaea; color: #777; overflow: hidden; text-align: center; width: 60px; height: 30px; display: block; margin: 0 auto; margin: 0 auto -30px;
-webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;
-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(0,0,0,0.05); }
#footer-bottom #back-to-top i { font-size: 38px; position: relative; top: -7px; }
#footer-bottom #back-to-top:hover { color: #444; }
#footer-bottom .social-links { padding-top: 10px; }
#footer-bottom .social-links a { color: rgba(255,255,255,0.6); }
#footer-bottom .social-links a:hover { color: #fff; }
#footer-bottom .social-links .social-tooltip { font-size: 28px; }