.featured { padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #eee; }
.featured .post { margin-bottom: 0; }
.featured .post-title { font-size: 34px; letter-spacing: -0.7px; line-height: 1.4em; }