/*  post : custom loop
/* ------------------------------------ */
.post-list { margin-right: -30px; }
.post-list .post-row { margin-left: -30px; padding-left: 30px; float: left; width: 100%; border-bottom: 1px solid #eee; margin-bottom: 30px; position: relative; }
.post-list .post-row:last-child { border: none; margin-bottom: 0; }
.post-list .post,
.post-list .page { width: 50%; float: left; }
.post-list .post-inner { margin-right: 30px; }
.post-hover:hover .post-thumbnail { opacity: 0.75; }
.post-hover:hover .post-title a { color: #3b8dbd; }
.post-hover:hover .thumb-icon { background: #fff; color: #111; }

.post-thumbnail { width: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.post-thumbnail { position: relative; margin-bottom: 1em; }
.post-thumbnail img { display: block; width: 100%; height: auto; }

.post-comments { background: #82b965; font-size: 12px; line-height: 20px; color: #fff; display: block; position: absolute; top: 10px; right: 0;
-webkit-box-shadow: inset -1px 0 1px rgba(0,0,0,0.2);
box-shadow: inset -1px 0 1px rgba(0,0,0,0.2); }
.post-comments > span { display: block; position: relative; padding: 2px 7px; }
.post-comments > span:before { content:''; display: inline-block; border-left: 9px solid transparent; border-right: 9px solid #82b965; border-top: 9px solid transparent; border-bottom: 9px solid transparent; position: absolute; top: 3px; left: -16px; }
.post-comments i { margin-right: 3px; }
.post-comments:hover { color: #fff!important; padding-right: 4px; }

.post-meta { text-transform: uppercase; font-size: 14px; font-weight: 400; color: #bbb; margin-bottom: 0.3em; }
.post-meta .post-category { float: left; margin-right: 6px; }
.post-meta .post-date { float: left; }

.post-title { color: #444; font-weight: normal; margin-bottom: 10px; font-size: 22px; font-weight: 400; line-height: 1.5em; -ms-word-wrap: break-word; word-wrap: break-word; }
.post-title strong { font-weight: 600; }
.post-title i { font-style: italic; }
.post-title a { color: #444; }
.post-title a:hover { color: #3b8dbd; }

.entry.excerpt { font-size: 16px; color: #aaa; }
.entry.excerpt p { margin-bottom: 0; }

/*  post : standard loop
/* ------------------------------------ */
.blog .post-standard,
.single .post-standard,
.archive .post-standard,
.search .post-standard { margin-bottom: 20px; }
.page.post-standard .post-inner { padding-left: 0; }
.page.post-standard .post-thumbnail { display: none; }

.post-standard .post-inner { padding-left: 230px; padding-bottom: 20px; float: left; border-bottom: 1px solid #eee; }
.post-standard .post-thumbnail { margin-left: -230px; max-width: 200px; margin-bottom: 0; float: left; }
.post-standard .post-content { float: left; }