/* ------------------------------------------------------------------------- *
 *  IE Fixes
/* ------------------------------------------------------------------------- */
body.ie8,
.ie8.single .related-posts .post-title,
.ie8 .s1 .alx-posts .post-item-title,
.ie8 #footer .alx-posts .post-item-title { font-weight: 400; }

.ie8 .author-bio .bio-avatar:after,
.ie8 .commentlist li.bypostauthor > .comment-body:after { display: none; }

.ie8 .nav li > a:after { content: ""!important; }
.ie8 .nav > li > a:after { content: ""!important; }
.ie8 #nav-topbar .nav > li > a:hover,
.ie8 #nav-topbar .nav > li:hover > a,
.ie8 #nav-header .nav > li > a:hover,
.ie8 #nav-header .nav > li:hover > a,
.ie8 .toggle-search:hover,
.ie8 .toggle-search.active,
.ie8 .search-expand-inner { background: url(../img/opacity-10.png); }
.ie8 .thumb-icon,
.ie8 .image-caption,
.ie8 .page-image-text .description i,
.ie8 .flex-direction-nav a { background: url(../img/ie/opacity-70.png); }
.ie8 .entry .gallery .gallery-caption { background: url(../img/ie/opacity-80-light.png); }