@font-face {
  font-family: 'FontAwesome';
  src:url('../../front/fonts/fontawesome-webfont.eot');
  src:url('../../front/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url('../../front/fonts/fontawesome-webfont.woff2') format('woff2'),
      url('../../front/fonts/fontawesome-webfont.woff') format('woff'),
      url('../../front/fonts/fontawesome-webfont.ttf') format('truetype'),
      url('../../front/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
}

.about-wrap h3 {
  line-height: 26px;
}
#hueman-admin-panel.about-wrap .feature-section {
    margin-top: 0px;
    padding: 0;
}
.about-wrap .feature-section div {
  text-align: center;
}

.about-text.tc-welcome {
  margin: 1em 0;
}

.about-wrap .feature-section.three-col img.tc-donate {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: none;
  float: none;
}


.images-stagger-right img {
  float: right;
  padding-left: 20px;
}

.images-stagger-left img {
  float: left;
  padding-right: 20px;
}

.tc-follow {
  margin-bottom: 11px;
}

.button-primary.review-hueman {
  margin-top: 9px;
}

.tc-upgrade-notice {
  background-color: #FFFFE0;
  border: 1px solid #E6DB55;
  padding: 0px;
  margin: 5px 0px;
  text-align: center;
}

.tc-upgrade-notice p {
  line-height: 1em;
}

/* ADMIN BAR
    -------------------------------------------------- */
h1.need-help-title:before,
#wp-admin-bar-tc-hueman-help .ab-item:before, li#wp-admin-bar-tc-hueman-help a:before {
  font-family: 'FontAwesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  content: "\f1cd";
}

#wp-admin-bar-tc-hueman-help .ab-item:before, li#wp-admin-bar-tc-hueman-help a:before {
  padding-right: 0px;
  top: 2px;
  color: #FFF;
}

li#wp-admin-bar-tc-hueman-help a {
  color: #FFF!important;
  text-decoration: none;
  background-color: #82b965;
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
}

.ab-top-menu>li#wp-admin-bar-tc-hueman-help:hover>.ab-item {
  color: #FFF;
  background: #6B9C51;
}

h1.need-help-title:before {
  padding-right: 17px;
  top: 1px;
  font-size: 1.2em;
  color:#82b965;
}

#hueman-admin-panel .button-secondary.hueman-help {
  line-height: 25px;
  padding-top: 11px;
  height: 51px;
  font-size: 20px;
  font-family: 'georgia';
  width: 95%;
  white-space: normal;
}

.about-wrap .feature-section .tc-follow img {
  background: none;
  max-width: none;
  float: none;
}

.about-wrap #showcase .feature-section img {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* HUEMAN ADDONS NOTICE */
#setting-error-tgmpa {
  position: relative;
}
#setting-error-tgmpa .notice-dismiss {
  display: none;
}
#setting-error-tgmpa .hu-addons-img {
  right: 4px;
  position: absolute;
  top: 4px;
}

/* GO PRO BTN */
.wp-core-ui .updated .hu-go-pro-btn {
  line-height: 24px;
  height: 30px;
  padding: 1px 20px;
  display: inline-block;
  color: #fff;
  background: #f0ad4e;
  border: 1px solid #eea236;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -4px;
  font-weight: 400;
  margin-left: 8px;
  text-shadow:none;
}

.wp-core-ui .updated .hu-go-pro-btn:hover, .wp-core-ui .updated .hu-go-pro-btn:focus {
  color: #fff;
  background: #ed9c28;
  border-color: #d58512;
  text-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}